@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: "Averia Serif Libre", sans-serif;
    min-width: 1400px;

    & button {
        cursor: pointer;
    }
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        & .logo-icon {
            width: 100px;
            height: auto;
        }

        & .logo-text {
            font-family: Agbalumo;
            font-size: 45px;
        }
    }

    & nav .tabs {
        padding: 15px;
        display: flex;
        gap: 50px;

        & .tab {
            border: none;
            background-color: inherit;
            font-size: 25px;
            text-wrap: nowrap;
        }
    }
}

& .content {
    background-color: hsl(0, 0%, 18%);

    & .photo {
        height: auto;
        position: relative;

         & .photo-credit {
            color: white;
            font-size: 18px;
            position: absolute;
            justify-self: center;
            bottom: 10px;

            a:link, a:visited {
                color: inherit;
            }
         }
    }

    & .main-photo {
        width: 1275px;
        margin: auto;
    }

    & .heading {
        font-weight: bold;

        &.smaller {
            font-size: 42px;
        }

        &.larger {
            font-size: 56px;
        }
    }

    & .text {
        font-size: 28px;
    }

    &.homepage {

        & .main-photo {

            & .main-photo-text {
                color: white;
                font-family: Agbalumo;
                font-size: 64px;
                position: absolute;
                right: 200px;
                top: 50px;
            }

            & .photo-credit {
                color: black;
            }

        }

        & .section-btn > button {
            background-color: inherit;
            border-color: inherit;
            border-style: solid;
            color: inherit;
            font-size: 28px;
            padding: 8px 70px;
        }

        & .about-section {
            text-align: center;
            padding: 50px;
            color: white;
            border: none white;

            & .text {
                width: 800px;
                margin: auto;
            }

            & .text + div {
                margin-top: 30px;
            }
        }

        & .menu-section {
            background-color: white;
            border: none black;
            padding: 50px;
            display: grid;
            grid-template-columns: 700px 500px;
            grid-template-rows: repeat(2, 1fr);
            column-gap: 40px;
            place-content: center;

            & .section-photo {
                grid-row: 1 / -1;
            }

            & .text {
                place-self: center;
            }
        }

        & .hours-and-location-section {
            text-align: center;
            color: white;
            border: none white;
            padding: 100px;

            & .text {
                font-size: 45px;
            }

            & .section-btn {
                margin-top: 30px;
            }
        }
    }

    &.hours-and-location-page {

        & .page-info {
            background-color: white;
            text-align: center;
            padding: 25px 0 35px 0;

            & div + .text {
                margin-top: 25px;
            }
        }
    }

    &.menu-page {

        & .page-info {
            background-color: white;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & .heading.larger {
                grid-column: 1 / -1;
                border-bottom: 1px solid black;
                padding: 15px;
            }

            & .appetizers {
                border-right: 1px solid black;
            }

            & .appetizers, .entrees {
                padding: 10px 0 40px 0;

                & .menu-items {

                    & .menu-item {
                        width: 425px;
                        margin: 18px auto auto auto;

                        & .item-name {
                            font-size: 28px;
                        }

                        & .item-description {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    &.about-page {

        & .our-story-section {
            background-color: white;
            text-align: center;
            padding: 15px 0 40px 0;

            & .text {
                width: 550px;
                margin: auto;
            }

            & div + .text {
                margin-top: 25px;
            }
        }

        & .meet-the-owner-section {
            background-color: hsl(0, 0%, 95%);
            padding: 25px 0 50px 0;
            display: grid;
            grid-template-columns: 700px 600px;
            place-content: center;
            place-items: center;
            gap: 30px;

            & .heading {
                grid-column: 1 / -1;
            }

            & .section-photo {
                grid-row: 2 / 4;
            }
        }

        & .closing-text {
            background-color: white;
            text-align: center;
            font-size: 45px;
            padding: 30px;
        }
    }
}