body {
    font-family: "Averia Serif Libre", sans-serif;
    background-color: hsl(0, 0%, 18%);
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        & .logo-icon {
            width: 100px;
            height: auto;
        }

        & .logo-text {
            font-family: Agbalumo;
            font-size: 45px;
        }
    }

    & nav .tabs {
        padding: 15px;
        display: flex;
        gap: 50px;

        & button {
            border: none;
            background-color: inherit;
            font-size: 25px;
            text-wrap: nowrap;
        }
    }
}

& .content {

    & .btn > button {
        background-color: inherit;
        border-color: inherit;
        color: inherit;
        padding: 8px 70px;
    }

    & .photo {
        width: 1275px;
        height: auto;
        margin: auto;
        position: relative;

        & .photo-text {
            color: white;
            font-family: Agbalumo;
            font-size: 64px;
            position: absolute;
            right: 200px;
            top: 50px;
        }
    }

    & .about-section {
        background-color: var(--black);
        text-align: center;
        padding: 50px 500px;
        color: white;
        border: none white;
        font-size: 32px;

        & .text + div {
            margin-top: 30px;
        }
    }
}