body {
    font-family: "Averia Serif Libre", sans-serif;
    min-width: 1400px;

    & button {
        cursor: pointer;
    }
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        & .logo-icon {
            width: 100px;
            height: auto;
        }

        & .logo-text {
            font-family: Agbalumo;
            font-size: 45px;
        }
    }

    & nav .tabs {
        list-style: none;
        padding: 15px;
        display: flex;
        gap: 50px;

        & .tab {
            border: none;
            background-color: inherit;
            font-size: 25px;
            text-wrap: nowrap;
        }
    }
}

& .content {
    background-color: hsl(0, 0%, 18%);

    & .photo {
        height: auto;
        position: relative;

         & .photo-credit {
            font-size: 18px;
            position: absolute;
            justify-self: center;
            bottom: 10px;

            a:link, a:visited {
                color: inherit;
            }
         }
    }

    & .main-photo {
        width: 1275px;
        margin: auto;
    }

    & .text {
        font-size: 32px;
    }

    &.homepage {

        & .main-photo .photo-text {
            color: white;
            font-family: Agbalumo;
            font-size: 64px;
            position: absolute;
            right: 200px;
            top: 50px;
        }

        & .section-btn > button {
            background-color: inherit;
            border-color: inherit;
            border-style: solid;
            color: inherit;
            font-size: 32px;
            padding: 8px 70px;
        }

        & .about-section {
            text-align: center;
            padding: 50px;
            color: white;
            border: none white;

            & .text {
                width: 900px;
                margin: auto;
            }

            & .text + div {
                margin-top: 30px;
            }
        }

        & .menu-section {
            background-color: white;
            border: none black;
            padding: 50px;
            display: grid;
            grid-template-columns: 700px 500px;
            grid-template-rows: repeat(2, 1fr);
            column-gap: 40px;
            place-content: center;

            & .section-photo {
                grid-row: 1 / -1;

                & .photo-credit {
                    color: white;
                }
            }

            & .text {
                place-self: center;
            }
        }

        & .hours-and-location-section {
            text-align: center;
            color: white;
            border: none white;
            padding: 100px;

            & .text {
                font-size: 50px;
            }

            & .section-btn {
                margin-top: 30px;
            }
        }
    }
}