body {
    font-family: "Averia Serif Libre", sans-serif;
    background-color: hsl(0, 0%, 18%);
    min-width: 1275px;
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        & .logo-icon {
            width: 100px;
            height: auto;
        }

        & .logo-text {
            font-family: Agbalumo;
            font-size: 45px;
        }
    }

    & nav .tabs {
        padding: 15px;
        display: flex;
        gap: 50px;

        & button {
            border: none;
            background-color: inherit;
            font-size: 25px;
            text-wrap: nowrap;
        }
    }
}

& .content {

    & .btn > button {
        background-color: inherit;
        border-color: inherit;
        border-style: solid;
        color: inherit;
        padding: 8px 70px;
    }

    & .main-photo {
        width: 1275px;
        height: auto;
        margin: auto;
        position: relative;

        & .photo-text {
            color: white;
            font-family: Agbalumo;
            font-size: 64px;
            position: absolute;
            right: 200px;
            top: 50px;
        }
    }

    & .about-section {
        text-align: center;
        padding: 50px;
        color: white;
        border: none white;
        font-size: 32px;

        & .text {
            width: 900px;
            margin: auto;
        }

        & .text + div {
            margin-top: 30px;
        }
    }

    & .menu-section {
        background-color: white;
        border: none black;
        font-size: 32px;
        padding: 50px;
        display: grid;
        grid-template-columns: 700px 500px;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 40px;
        place-content: center;

        & .sub-photo {
            grid-row: 1 / -1;
            width: 700px;
            height: auto;
        }

        & .text, & .btn {
            place-self: center;
        }
    }

    & .hours-and-location-section {
        text-align: center;
        color: white;
        border: none white;
        font-size: 64px;
        padding: 100px;

        & .btn {
            font-size: 32px;
            margin-top: 30px;
        }
    }
}